*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}
.header {
    background-color:#1b1b1b;
    min-height: 100vh;
    width: 100%;
    /* min-height: 100vh;
    width: 100%;
    background-image: url(images/banner.jpg);
    background-position: center;
    background-size: ;
    position: relative; */
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li :hover::after{
    width: 100%;
}

.comp {
    background-color:#353839;
    width: 700px; height: 80px; margin: 0 auto;
}

.compName {
    display: inline-block;
    background-color:#353839;
    width: 160px; height: 50px
}

.compName p {
    color:#fff;
    position:relative;
    padding-left: 5px;
    padding-top: 30px;
    top: -40%;
}

.champs img{
    position:relative;
    width: 50px;
    padding-top: 15px;
    padding-left: 2px;
    left: 50px;
}

.cost1 {
    border: 2px solid black;
}

.cost2 {
    border: 2px solid green;
}

.cost3 {
    border: 2px solid blue;
}

.cost4 {
    border: 2px solid purple;
}

.cost5 {
    border: 2px solid gold;
}

.tform {
    color: #fff;
}

.formImages {
    position: relative;
    transition: 0.2s
}

.formImages:hover {
    transform:scale(1.08);
    z-index: 1;
}

.container{
    width: 90%;
    padding: 20px;
    padding-bottom: 10px;
    margin: 40px auto;
    margin-top: 10px;
    background-color: #484848;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* not deleting */

.random {
    display: block;
}

.champNum {
    position: absolute;
    top: 0px; 
    left: 75%;
    border: none;
    background: none;
    color: red;
    font-size: 300%;
    width: 17%;
}

.imageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.25s;
}

.imageOverlay:hover{
    opacity: 1;
}

/* Home page champion counter */
.btn1 {
    background-color: white;
    /* border: none; */
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px;
    margin-top: 12px;
    transition: 0.4s ease;
}

.btn1 div {
    position: relative;
    height: 15px;
    width: 15px;
    border-top: 4.5px solid black;
    border-left: 4.5px solid black;
}

.up div {
    position: relative;
    transform: rotate(45deg);
    left: 8.5px;
    top: 0px;
}

.down div {
    position: relative;
    transform: rotate(-135deg);
    left: 8.5px;
    top: 1px;
}

.champName {
    position: relative;
    text-align: center; 
    color: white;
}











/* To delete later*/
/* .box{
    width: 250px;
    height: 300px;
    background: orange;
    margin: 0px 10px;
    transition: 0.1s;
}

.box:hover{
    transform: scale(1.3);
    background: #ff800a;
    z-index: 2;
    box-shadow: 2px 2px 2px #000;
    
} */