<!DOCTYPE html>
<html>
    <head>
        <!-- Picking character type -->
        <meta charset="UTF-8">
        <meta name="description" content="This is my website">
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <!-- Title for tab-->
        <title>TFT Bot</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        
        <!-- Function for collecting team comp data entered.-->
        <script>
            function fn1() {
                array = new Array(59);
                // var str = document.getElementById("Akali").value;
                array[0] = document.getElementById("userAkali").value;
                array[1] = document.getElementById("userBlitzcrank").value;
                array[2] = document.getElementById("userBraum").value;
                array[3] = 0;
                array[4] = 0;
                array[5] = 0;
                array[6] = 0;
                array[7] = 0;
                array[9] = 0;
                array[10] = 0;
                array[11] = 0;
                array[12] = 0;
                array[13] = 0;
                array[14] = 0;
                array[15] = 0;
                array[16] = 0;
                array[17] = 0;
                array[18] = 0;
                array[19] = 0;
                array[20] = 0;
                array[21] = 0;
                array[22] = 0;
                array[23] = 0;
                array[24] = 0;
                array[25] = 0;
                array[26] = 0;
                array[27] = 0;
                array[28] = 0;
                array[29] = 0;
                array[30] = 0;
                array[31] = 0;
                array[32] = 0;
                array[33] = 0;
                array[34] = 0;
                array[35] = 0;
                array[36] = 0;
                array[37] = 0;
                array[38] = 0;
                array[39] = 0;
                array[40] = 0;
                array[41] = 0;
                array[42] = 0;
                array[43] = 0;
                array[44] = 0;
                array[45] = 0;
                array[46] = 0;
                array[47] = 0;
                array[48] = 0;
                array[49] = 0;
                array[50] = 0;
                array[51] = 0;
                array[52] = 0;
                array[53] = 0;
                array[54] = 0;
                array[55] = 0;
                array[56] = 0;
                array[57] = 0;
                array[58] = 0;
                

                // array[3] = document.getElementById("userCaitlyn").value;
                // array[4] = document.getElementById("userCamille").value;
                // array[5] = document.getElementById("userChogath").value;
                // array[6] = document.getElementById("userDarius").value;
                // array[7] = document.getElementById("userDrMundo").value;
                // array[8] = document.getElementById("userEkko").value;
                // array[9] = document.getElementById("userEzreal").value;
                // array[10] = document.getElementById("userFiora").value;
                // array[11] = document.getElementById("userGalio").value;
                // array[12] = document.getElementById("userGangplank").value;
                // array[13] = document.getElementById("userGaren").value;
                // array[14] = document.getElementById("userGraves").value;
                // array[15] = document.getElementById("userHeimerdinger").value;
                // array[16] = document.getElementById("userIllaoi").value;
                // array[17] = document.getElementById("userJanna").value;
                // array[18] = document.getElementById("userJayce").value;
                // array[19] = document.getElementById("userJhin").value;
                // array[20] = document.getElementById("userJinx").value;
                // array[21] = document.getElementById("userKaisa").value;
                // array[22] = document.getElementById("userKassadin").value;
                // array[23] = document.getElementById("userKatarina").value;
                // array[24] = document.getElementById("userKogmaw").value;
                // array[25] = document.getElementById("userLeona").value;
                // array[26] = document.getElementById("userLissandra").value;
                // array[27] = document.getElementById("userLulu").value;
                // array[28] = document.getElementById("userLux").value;
                // array[29] = document.getElementById("userMalzahar").value;
                // array[30] = document.getElementById("userMissFortune").value;
                // array[31] = document.getElementById("userOrianna").value;
                // array[32] = document.getElementById("userPoppy").value;
                // array[33] = document.getElementById("userQuinn").value;
                // array[34] = document.getElementById("userSamira").value;
                // array[35] = document.getElementById("userSeraphine").value;
                // array[36] = document.getElementById("userShaco").value;
                // array[37] = document.getElementById("userSinged").value;
                // array[38] = document.getElementById("userSion").value;
                // array[39] = document.getElementById("userSwain").value;
                // array[40] = document.getElementById("userTahmKench").value;
                // array[41] = document.getElementById("userTalon").value;
                // array[42] = document.getElementById("userTaric").value;
                // array[43] = document.getElementById("userTristana").value;
                // array[44] = document.getElementById("userTrundle").value;
                // array[45] = document.getElementById("userTwistedFate").value;
                // array[46] = document.getElementById("userTwitch").value;
                // array[47] = document.getElementById("userUrgot").value;
                // array[48] = document.getElementById("userVeigar").value;
                // array[49] = document.getElementById("userVex").value;
                // array[50] = document.getElementById("userVi").value;
                // array[51] = document.getElementById("userViktor").value;
                // array[52] = document.getElementById("userWarwick").value;
                // array[53] = document.getElementById("userYone").value;
                // array[54] = document.getElementById("userYuumi").value;
                // array[55] = document.getElementById("userZac").value;
                // array[56] = document.getElementById("userZiggs").value;
                // array[57] = document.getElementById("userZilean").value;
                // array[58] = document.getElementById("userZyra").value;
                userComp = array.toString();
                alert(userComp);
            }
        </script>
        
    </head>
    <body>
        <section class ="header">
            <nav>
                <div class="nav-links">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/metacomps">Meta Comps</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">GitHub Repository</a></li>
                    </ul>
                </div>
            </nav>
            <main>
                <!-- Work in progress form-->
                <div class="Form using Images">
                    <span class= "formImages">
                        <img src="{{url_for('static', filename='images/Akali.png')}}">
                    </span>
                    <span class= "formImages">
                        <img src="{{url_for('static', filename='images/Blitzcrank.png')}}">
                    </span>
                    <span class= "formImages">
                        <img src="{{url_for('static', filename='images/Braum.png')}}">
                    </span>
                    <span class= "formImages">
                        <img src="{{url_for('static', filename='images/Caitlyn.png')}}">
                    </span>
                    <span class= "formImages">
                        <img src="{{url_for('static', filename='images/Camille.png')}}">
                    </span>
                    <span class= "formImages">
                        <img src="{{url_for('static', filename='images/Chogath.png')}}">
                    </span>
                    <span class= "formImages">
                        <img src="{{url_for('static', filename='images/Darius.png')}}">
                    </span>
                    <span class= "formImages">
                        <img src="{{url_for('static', filename='images/DrMundo.png')}}">
                    </span>


                </div>

                <!-- Temporary form-->
                <form class="form">
                    Akali <input type="number" id="userAkali" value = "0"/> <br>
                    BlitzCrank <input type="number" id="userBlitzcrank" value="0"/> <br>
                    Braum <input type="number"  id="userBraum" value="0"/> <br>
                <button onclick="fn1()" id="btn1">
                    Solve
                </button>
                </form>

            </main>

            <footer>

            </footer>
        </section>
    </body>
</html>


<!-- style="color:blue; background-color:white" -->