<!DOCTYPE html>
<html>
    <head>
        <!-- Picking character type -->
        <meta charset="UTF-8">
        <meta name="description" content="This is my website">
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <!-- Title for tab-->
        <title>TFT Bot</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">


    </head>
    <body>
        <section class ="header">
            <nav>
                <div class="nav-links">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/metacomps">Meta Comps</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">GitHub Repository</a></li>
                    </ul>
                </div>
            </nav>
            <main>
                <!-- Work in progress form-->
                <div class="Form using Images">
                    <span class= "formImages">
                        <img style = "border:2px groove gold";
                        img src="{{url_for('static', filename='images/Akali.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove green";
                            img src="{{url_for('static', filename='images/Blitzcrank.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove purple";
                            img src="{{url_for('static', filename='images/Braum.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove black";
                            img src="{{url_for('static', filename='images/Caitlyn.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove black";
                            img src="{{url_for('static', filename='images/Camille.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove blue";
                            img src="{{url_for('static', filename='images/Chogath.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove black";
                            img src="{{url_for('static', filename='images/Darius.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove purple";
                            img src="{{url_for('static', filename='images/DrMundo.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove blue";
                            img src="{{url_for('static', filename='images/Ekko.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove black";
                            img src="{{url_for('static', filename='images/Ezreal.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove purple";
                            img src="{{url_for('static', filename='images/Fiora.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove gold";
                            img src="{{url_for('static', filename='images/Galio.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove blue";
                            img src="{{url_for('static', filename='images/Gangplank.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove black";
                            img src="{{url_for('static', filename='images/Garen.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove black";
                            img src="{{url_for('static', filename='images/Graves.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove blue";
                            img src="{{url_for('static', filename='images/Heimerdinger.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove black";
                            img src="{{url_for('static', filename='images/Illaoi.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove purple";
                            img src="{{url_for('static', filename='images/Janna.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove gold";
                            img src="{{url_for('static', filename='images/Jayce.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove purple";
                            img src="{{url_for('static', filename='images/Jhin.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove gold";
                            img src="{{url_for('static', filename='images/Jinx.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove gold";
                            img src="{{url_for('static', filename='images/Kaisa.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove black";
                            img src="{{url_for('static', filename='images/Kassadin.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove green";
                            img src="{{url_for('static', filename='images/Katarina.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove green";
                            img src="{{url_for('static', filename='images/Kogmaw.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove blue";
                            img src="{{url_for('static', filename='images/Leona.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove blue";
                            img src="{{url_for('static', filename='images/Lissandra.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove green";
                            img src="{{url_for('static', filename='images/Lulu.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove purple";
                            img src="{{url_for('static', filename='images/Lux.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove blue";
                            img src="{{url_for('static', filename='images/Malzahar.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove blue";
                            img src="{{url_for('static', filename='images/MissFortune.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove purple";
                            img src="{{url_for('static', filename='images/Orianna.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove black";
                            img src="{{url_for('static', filename='images/Poppy.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove green";
                            img src="{{url_for('static', filename='images/Quinn.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove blue";
                            img src="{{url_for('static', filename='images/Samira.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove purple";
                            img src="{{url_for('static', filename='images/Seraphine.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove blue";
                            img src="{{url_for('static', filename='images/Shaco.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove black";
                            img src="{{url_for('static', filename='images/Singed.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove purple";
                            img src="{{url_for('static', filename='images/Sion.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove green";
                            img src="{{url_for('static', filename='images/Swain.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove gold";
                            img src="{{url_for('static', filename='images/TahmKench.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove green";
                            img src="{{url_for('static', filename='images/Talon.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove blue";
                            img src="{{url_for('static', filename='images/Taric.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove green";
                            img src="{{url_for('static', filename='images/Tristana.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove green";
                            img src="{{url_for('static', filename='images/Trundle.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove black";
                            img src="{{url_for('static', filename='images/TwistedFate.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove black";
                            img src="{{url_for('static', filename='images/Twitch.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove purple";
                            img src="{{url_for('static', filename='images/Urgot.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove gold";
                            img src="{{url_for('static', filename='images/Veigar.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove blue";
                            img src="{{url_for('static', filename='images/Vex.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove green";
                            img src="{{url_for('static', filename='images/Vi.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove gold";
                            img src="{{url_for('static', filename='images/Viktor.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove green";
                            img src="{{url_for('static', filename='images/Warwick.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove purple";
                            img src="{{url_for('static', filename='images/Yone.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove gold";
                            img src="{{url_for('static', filename='images/Yuumi.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove blue";
                            img src="{{url_for('static', filename='images/Zac.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove black";
                            img src="{{url_for('static', filename='images/Ziggs.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove green";
                            img src="{{url_for('static', filename='images/Zilean.png')}}">
                    </span>
                    <span class= "formImages">
                        <img style = "border:2px groove green";
                            img src="{{url_for('static', filename='images/Zyra.png')}}">
                    </span>
                </div>

                <!-- Temporary form -->
                <form class="tform" action="#" method="post">
                    <!-- <input type="number" name="rq" value="0"/> -->
                    <input type="submit" value="solve"/> <br>
                    Akali <input type="number" name="0" value="0"/> <br>
                    Blitzcrank <input type="number" name="1" value="0"/> <br>
                    Braum<input type="number" name="2" value="0"/> <br>
                    Caitlyn<input type="number" name="3" value="0"/> <br>
                    Camille<input type="number" name="4" value="0"/> <br>
                    Chogath<input type="number" name="5" value="0"/> <br>
                    Darius<input type="number" name="6" value="0"/> <br>
                    DrMundo<input type="number" name="7" value="0"/> <br>
                    Ekko<input type="number" name="8" value="0"/> <br>
                    Ezreal<input type="number" name="9" value="0"/> <br>
                    Fiora<input type="number" name="10" value="0"/> <br>
                    Galio<input type="number" name="11" value="0"/> <br>
                    Gangplank<input type="number" name="12" value="0"/> <br>
                    Garen<input type="number" name="13" value="0"/> <br>
                    Graves<input type="number" name="14" value="0"/> <br>
                    Heimerdinger<input type="number" name="15" value="0"/> <br>
                    Illaoi<input type="number" name="16" value="0"/> <br>
                    Janna<input type="number" name="17" value="0"/> <br>
                    Jayce<input type="number" name="18" value="0"/> <br>
                    Jhin<input type="number" name="19" value="0"/> <br>
                    Jinx<input type="number" name="20" value="0"/> <br>
                    Kaisa<input type="number" name="21" value="0"/> <br>
                    Kassadin<input type="number" name="22" value="0"/> <br>
                    Katarina<input type="number" name="23" value="0"/> <br>
                    Kogmaw<input type="number" name="24" value="0"/> <br>
                    Leona<input type="number" name="25" value="0"/> <br>
                    Lissandra<input type="number" name="26" value="0"/> <br>
                    Lulu<input type="number" name="27" value="0"/> <br>
                    Lux<input type="number" name="28" value="0"/> <br>
                    Malzahar<input type="number" name="29" value="0"/> <br>
                    MissFortune<input type="number" name="30" value="0"/> <br>
                    Orianna<input type="number" name="31" value="0"/> <br>
                    Poppy<input type="number" name="32" value="0"/> <br>
                    Quinn<input type="number" name="33" value="0"/> <br>
                    Samira<input type="number" name="34" value="0"/> <br>
                    Seraphine<input type="number" name="35" value="0"/> <br>
                    Shaco<input type="number" name="36" value="0"/> <br>
                    Singed<input type="number" name="37" value="0"/> <br>
                    Sion<input type="number" name="38" value="0"/> <br>
                    Swain<input type="number" name="39" value="0"/> <br>
                    TahmKench<input type="number" name="40" value="0"/> <br>
                    Talon<input type="number" name="41" value="0"/> <br>
                    Taric<input type="number" name="42" value="0"/> <br>
                    Tristana<input type="number" name="43" value="0"/> <br>
                    Trundle<input type="number" name="44" value="0"/> <br>
                    TwistedFate<input type="number" name="45" value="0"/> <br>
                    Twitch<input type="number" name="46" value="0"/> <br>
                    Urgot<input type="number" name="47" value="0"/> <br>
                    Veigar<input type="number" name="48" value="0"/> <br>
                    Vex<input type="number" name="49" value="0"/> <br>
                    Vi<input type="number" name="50" value="0"/> <br>
                    Viktor<input type="number" name="51" value="0"/> <br>
                    Warwick<input type="number" name="52" value="0"/> <br>
                    Yone<input type="number" name="53" value="0"/> <br>
                    Yuumi<input type="number" name="54" value="0"/> <br>
                    Zac<input type="number" name="55" value="0"/> <br>
                    Ziggs<input type="number" name="56" value="0"/> <br>
                    Zilean<input type="number" name="57" value="0"/> <br>
                    Zyra<input type="number" name="58" value="0"/>
                    
                    
                </form>

            </main>

            <footer>

            </footer>
        </section>
    </body>
</html>


