<!DOCTYPE html>
<html>
    <head> 
        <!-- Picking character type -->
        <meta charset="UTF-8">
        <meta name="description" content="This is my website">
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <!-- Title for tab-->
        <title>TFT Bot</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    </head>
    <body>
        <section class ="header">
            <nav>
                <!-- Navigation links at top of website-->
                <div class="nav-links">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/metacomps">Meta Comps</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">GitHub Repository</a></li>
                    </ul>
                </div>
            </nav>
            <main>
                <!-- team comp boxes-->
                <div class="comp">
                    <!-- Main comp information-->
                    <span class="compName">
                        <p>Yordle</p>
                    </span>
                    <!-- box of champs-->
                    <span class="champs">
                        <img src="{{url_for('static', filename='images/Poppy.png')}}">
                        <img src="{{url_for('static', filename='images/Ziggs.png')}}">
                        <img src="{{url_for('static', filename='images/BlitzCrank.png')}}" class="greens">
                        <img src="{{url_for('static', filename='images/Lulu.png')}}" class="greens">
                        <img src="{{url_for('static', filename='images/Tristana.png')}}">
                        <img src="{{url_for('static', filename='images/Heimerdinger.png')}}" class="">
                        <img src="{{url_for('static', filename='images/Vex.png')}}" class="">
                        <img src="{{url_for('static', filename='images/Janna.png')}}" class="">
                    </span>
                    <!-- Extra comp information-->
                </div>
            </main>

            <footer>

            </footer>
        </section>

        <!-- <img src="images/construction.jpg">
            <a href ="index.html">
                Home
            </a> -->
    </body>

</html>